# Pandas  Dataframes

In [171]:
import pandas as pd

In [172]:
purchase_1 = pd.Series({
        'Name':'John',
        'Item' : 'Chocolate',
        'Cost' : '1.99'
    })
purchase_2 = pd.Series({
        'Name':'Matt',
        'Item' : 'Cake',
        'Cost' : '5.00'
    })
purchase_3 = pd.Series({
        'Name':'Bill',
        'Item' : 'Cookies',
        'Cost' : '3.49'
    })
purchase_4 = pd.Series({
        'Name':'Ram',
        'Item' : 'Coffee',
        'Cost' : '3.49'
    })

df = pd.DataFrame([purchase_1, purchase_2, purchase_3, purchase_4], index = ['Jewel', 'Walgreens', 'Jewel', '7-Eleven'])
df

           Cost       Item  Name
Jewel      1.99  Chocolate  John
Walgreens  5.00       Cake  Matt
Jewel      3.49    Cookies  Bill
7-Eleven   3.49     Coffee   Ram

In [173]:
df.loc['Walgreens']

Cost    5.00
Item    Cake
Name    Matt
Name: Walgreens, dtype: object

In [174]:
type(df.loc['Walgreens'])

pandas.core.series.Series

In [175]:
df.loc['Jewel']

       Cost       Item  Name
Jewel  1.99  Chocolate  John
Jewel  3.49    Cookies  Bill

In [176]:
df.loc['Jewel']['Cost']

Jewel    1.99
Jewel    3.49
Name: Cost, dtype: object

In [177]:
df.T.loc['Cost']

Jewel        1.99
Walgreens    5.00
Jewel        3.49
7-Eleven     3.49
Name: Cost, dtype: object

In [178]:
df['Cost']

Jewel        1.99
Walgreens    5.00
Jewel        3.49
7-Eleven     3.49
Name: Cost, dtype: object

In [179]:
df.T

          Jewel Walgreens    Jewel 7-Eleven
Cost       1.99      5.00     3.49     3.49
Item  Chocolate      Cake  Cookies   Coffee
Name       John      Matt     Bill      Ram

In [180]:
df

           Cost       Item  Name
Jewel      1.99  Chocolate  John
Walgreens  5.00       Cake  Matt
Jewel      3.49    Cookies  Bill
7-Eleven   3.49     Coffee   Ram

In [181]:
df.loc[:,['Name', 'Cost']]

           Name  Cost
Jewel      John  1.99
Walgreens  Matt  5.00
Jewel      Bill  3.49
7-Eleven    Ram  3.49

In [182]:
df.drop('Jewel')

           Cost    Item  Name
Walgreens  5.00    Cake  Matt
7-Eleven   3.49  Coffee   Ram

In [183]:
df

           Cost       Item  Name
Jewel      1.99  Chocolate  John
Walgreens  5.00       Cake  Matt
Jewel      3.49    Cookies  Bill
7-Eleven   3.49     Coffee   Ram

In [184]:
df_copy = df.drop('Jewel')
df_copy

           Cost    Item  Name
Walgreens  5.00    Cake  Matt
7-Eleven   3.49  Coffee   Ram

In [185]:
df

           Cost       Item  Name
Jewel      1.99  Chocolate  John
Walgreens  5.00       Cake  Matt
Jewel      3.49    Cookies  Bill
7-Eleven   3.49     Coffee   Ram

In [186]:
df_copy

           Cost    Item  Name
Walgreens  5.00    Cake  Matt
7-Eleven   3.49  Coffee   Ram

In [187]:
df.drop?

In [188]:
df['Location'] = 'Chicago'    #adds new column
df

           Cost       Item  Name Location
Jewel      1.99  Chocolate  John  Chicago
Walgreens  5.00       Cake  Matt  Chicago
Jewel      3.49    Cookies  Bill  Chicago
7-Eleven   3.49     Coffee   Ram  Chicago

#### Dataframes Indexing and Loading

In [189]:
costs = df['Cost']
costs

Jewel        1.99
Walgreens    5.00
Jewel        3.49
7-Eleven     3.49
Name: Cost, dtype: object

In [190]:
df.dtypes

Cost        object
Item        object
Name        object
Location    object
dtype: object

In [191]:
costs = df['Cost']
type(df['Cost'])

pandas.core.series.Series

In [192]:
df.columns

Index(['Cost', 'Item', 'Name', 'Location'], dtype='object')

In [193]:
df[['Cost']] = df[['Cost']].apply(pd.to_numeric)

In [194]:
df.dtypes

Cost        float64
Item         object
Name         object
Location     object
dtype: object

In [195]:
costs = df['Cost']
costs

Jewel        1.99
Walgreens    5.00
Jewel        3.49
7-Eleven     3.49
Name: Cost, dtype: float64

In [196]:
costs+=2
costs

Jewel        3.99
Walgreens    7.00
Jewel        5.49
7-Eleven     5.49
Name: Cost, dtype: float64

In [197]:
df

           Cost       Item  Name Location
Jewel      3.99  Chocolate  John  Chicago
Walgreens  7.00       Cake  Matt  Chicago
Jewel      5.49    Cookies  Bill  Chicago
7-Eleven   5.49     Coffee   Ram  Chicago

In [198]:
!cat olympics.csv

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !,02 !,03 !,Total,№ Games,01 !,02 !,03 !,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
Austria (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
Azerbaijan (AZE),5,6,5,15,26,5,0,0,0,0,10,6,5,15,26
Bahamas (BAH),15,5,2,5,12,0,0,0,0,0,15,5,2,5,12
Bahrain (BRN),8,0,0,1,1,0,0,0,0,0,8,0,0,1,1
Barbados (BAR) [BAR],11,0,0,1,1,0,0,0,0,0,11,0,0,1,1
Belarus (BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90
Belgium (BEL),25,37,52,53,142,20,1,1,3,5,45,38,53,56,147
Bermuda (BER),17,0,0,1,1,7,0,0,0,0,24,0,0,1,1
Bohemia (BOH) [BOH] [Z],3,0,1,3,4,0,0,0,0,0,3,0,1,3,4
Botswana (BOT),9,0,1,0,1,0,0,0,0,0,9,0,1,0,1
Brazil (BRA),21,23,30,55,108,7,0,0,0,0,28,23,30,55,108
British West Indies (BWI) [BWI],1,0,0,2,2,0,0,0,0,0,1,0,0,2,2
Bulgaria (BUL) [H],19,51,85,78,214,19,1,2,3,6,38,52,87,81,220
Burundi (BDI),5,1,0,0,1,0,0,0,0,0,5,1,0,0,1
Cameroon (CMR),13,3,1,1,5,1,0,0,0,0,14,3,1,1,5
Canada (CAN),25,59,99,121,279,22,62,56,52,170,47,121,155,173,449
Chile (CHI) [I],22,2,7,4,13,16,0,0,0,0,38,2,7,4,13
China (CHN) [CHN],9,201,146,126,473,10,12,22,19,53,19,213,168,145,526
Colombia (COL),18,2,6,11,19,1,0,0,0,0,19,2,6,11,19
Costa Rica (CRC),14,1,1,2,4,6,0,0,0,0,20,1,1,2,4
Ivory Coast (CIV) [CIV],12,0,1,0,1,0,0,0,0,0,12,0,1,0,1
Croatia (CRO),6,6,7,10,23,7,4,6,1,11,13,10,13,11,34
Cuba (CUB) [Z],19,72,67,70,209,0,0,0,0,0,19,72,67,70,209
Cyprus (CYP),9,0,1,0,1,10,0,0,0,0,19,0,1,0,1
Czech Republic (CZE) [CZE],5,14,15,15,44,6,7,9,8,24,11,21,24,23,68
Czechoslovakia (TCH) [TCH],16,49,49,45,143,16,2,8,15,25,32,51,57,60,168
Denmark (DEN) [Z],26,43,68,68,179,13,0,1,0,1,39,43,69,68,180
Djibouti (DJI) [B],7,0,0,1,1,0,0,0,0,0,7,0,0,1,1
Dominican Republic (DOM),13,3,2,1,6,0,0,0,0,0,13,3,2,1,6
Ecuador (ECU),13,1,1,0,2,0,0,0,0,0,13,1,1,0,2
Egypt (EGY) [EGY] [Z],21,7,9,10,26,1,0,0,0,0,22,7,9,10,26
Eritrea (ERI),4,0,0,1,1,0,0,0,0,0,4,0,0,1,1
Estonia (EST),11,9,9,15,33,9,4,2,1,7,20,13,11,16,40
Ethiopia (ETH),12,21,7,17,45,2,0,0,0,0,14,21,7,17,45
Finland (FIN),24,101,84,117,302,22,42,62,57,161,46,143,146,174,463
France (FRA) [O] [P] [Z],27,202,223,246,671,22,31,31,47,109,49,233,254,293,780
Gabon (GAB),9,0,1,0,1,0,0,0,0,0,9,0,1,0,1
Georgia (GEO),5,6,5,14,25,6,0,0,0,0,11,6,5,14,25
Germany (GER) [GER] [Z],15,174,182,217,573,11,78,78,53,209,26,252,260,270,782
United Team of Germany (EUA) [EUA],3,28,54,36,118,3,8,6,5,19,6,36,60,41,137
East Germany (GDR) [GDR],5,153,129,127,409,6,39,36,35,110,11,192,165,162,519
West Germany (FRG) [FRG],5,56,67,81,204,6,11,15,13,39,11,67,82,94,243
Ghana (GHA) [GHA],13,0,1,3,4,1,0,0,0,0,14,0,1,3,4
Great Britain (GBR) [GBR] [Z],27,236,272,272,780,22,10,4,12,26,49,246,276,284,806
Greece (GRE) [Z],27,30,42,39,111,18,0,0,0,0,45,30,42,39,111
Grenada (GRN),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1
Guatemala (GUA),13,0,1,0,1,1,0,0,0,0,14,0,1,0,1
Guyana (GUY) [GUY],16,0,0,1,1,0,0,0,0,0,16,0,0,1,1
Haiti (HAI) [J],14,0,1,1,2,0,0,0,0,0,14,0,1,1,2
Hong Kong (HKG) [HKG],15,1,1,1,3,4,0,0,0,0,19,1,1,1,3
Hungary (HUN),25,167,144,165,476,22,0,2,4,6,47,167,146,169,482
Iceland (ISL),19,0,2,2,4,17,0,0,0,0,36,0,2,2,4
India (IND) [F],23,9,6,11,26,9,0,0,0,0,32,9,6,11,26
Indonesia (INA),14,6,10,11,27,0,0,0,0,0,14,6,10,11,27
Iran (IRI) [K],15,15,20,25,60,10,0,0,0,0,25,15,20,25,60
Iraq (IRQ),13,0,0,1,1,0,0,0,0,0,13,0,0,1,1
Ireland (IRL),20,9,8,12,29,6,0,0,0,0,26,9,8,12,29
Israel (ISR),15,1,1,5,7,6,0,0,0,0,21,1,1,5,7
Italy (ITA) [M] [S],26,198,166,185,549,22,37,34,43,114,48,235,200,228,663
Jamaica (JAM) [JAM],16,17,30,20,67,7,0,0,0,0,23,17,30,20,67
Japan (JPN),21,130,126,142,398,20,10,17,18,45,41,140,143,160,443
Kazakhstan (KAZ),5,16,17,19,52,6,1,3,3,7,11,17,20,22,59
Kenya (KEN),13,25,32,29,86,3,0,0,0,0,16,25,32,29,86
North Korea (PRK),9,14,12,21,47,8,0,1,1,2,17,14,13,22,49
South Korea (KOR),16,81,82,80,243,17,26,17,10,53,33,107,99,90,296
Kuwait (KUW),12,0,0,2,2,0,0,0,0,0,12,0,0,2,2
Kyrgyzstan (KGZ),5,0,1,2,3,6,0,0,0,0,11,0,1,2,3
Latvia (LAT),10,3,11,5,19,10,0,4,3,7,20,3,15,8,26
Lebanon (LIB),16,0,2,2,4,16,0,0,0,0,32,0,2,2,4
Liechtenstein (LIE),16,0,0,0,0,18,2,2,5,9,34,2,2,5,9
Lithuania (LTU),8,6,5,10,21,8,0,0,0,0,16,6,5,10,21
Luxembourg (LUX) [O],22,1,1,0,2,8,0,2,0,2,30,1,3,0,4
Macedonia (MKD),5,0,0,1,1,5,0,0,0,0,10,0,0,1,1
Malaysia (MAS) [MAS],12,0,3,3,6,0,0,0,0,0,12,0,3,3,6
Mauritius (MRI),8,0,0,1,1,0,0,0,0,0,8,0,0,1,1
Mexico (MEX),22,13,21,28,62,8,0,0,0,0,30,13,21,28,62
Moldova (MDA),5,0,2,5,7,6,0,0,0,0,11,0,2,5,7
Mongolia (MGL),12,2,9,13,24,13,0,0,0,0,25,2,9,13,24
Montenegro (MNE),2,0,1,0,1,2,0,0,0,0,4,0,1,0,1
Morocco (MAR),13,6,5,11,22,6,0,0,0,0,19,6,5,11,22
Mozambique (MOZ),9,1,0,1,2,0,0,0,0,0,9,1,0,1,2
Namibia (NAM),6,0,4,0,4,0,0,0,0,0,6,0,4,0,4
Netherlands (NED) [Z],25,77,85,104,266,20,37,38,35,110,45,114,123,139,376
Netherlands Antilles (AHO) [AHO] [I],13,0,1,0,1,2,0,0,0,0,15,0,1,0,1
New Zealand (NZL) [NZL],22,42,18,39,99,15,0,1,0,1,37,42,19,39,100
Niger (NIG),11,0,0,1,1,0,0,0,0,0,11,0,0,1,1
Nigeria (NGR),15,3,8,12,23,0,0,0,0,0,15,3,8,12,23
Norway (NOR) [Q],24,56,49,43,148,22,118,111,100,329,46,174,160,143,477
Pakistan (PAK),16,3,3,4,10,2,0,0,0,0,18,3,3,4,10
Panama (PAN),16,1,0,2,3,0,0,0,0,0,16,1,0,2,3
Paraguay (PAR),11,0,1,0,1,1,0,0,0,0,12,0,1,0,1
Peru (PER) [L],17,1,3,0,4,2,0,0,0,0,19,1,3,0,4
Philippines (PHI),20,0,2,7,9,4,0,0,0,0,24,0,2,7,9
Poland (POL),20,64,82,125,271,22,6,7,7,20,42,70,89,132,291
Portugal (POR),23,4,8,11,23,7,0,0,0,0,30,4,8,11,23
Puerto Rico (PUR),17,0,2,6,8,6,0,0,0,0,23,0,2,6,8
Qatar (QAT),8,0,0,4,4,0,0,0,0,0,8,0,0,4,4
Romania (ROU),20,88,94,119,301,20,0,0,1,1,40,88,94,120,302
Russia (RUS) [RUS],5,132,121,142,395,6,49,40,35,124,11,181,161,177,519
Russian Empire (RU1) [RU1],3,1,4,3,8,0,0,0,0,0,3,1,4,3,8
Soviet Union (URS) [URS],9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204
Unified Team (EUN) [EUN],1,45,38,29,112,1,9,6,8,23,2,54,44,37,135
Saudi Arabia (KSA),10,0,1,2,3,0,0,0,0,0,10,0,1,2,3
Senegal (SEN),13,0,1,0,1,5,0,0,0,0,18,0,1,0,1
Serbia (SRB) [SRB],3,1,2,4,7,2,0,0,0,0,5,1,2,4,7
Serbia and Montenegro (SCG) [SCG],3,2,4,3,9,3,0,0,0,0,6,2,4,3,9
Singapore (SIN),15,0,2,2,4,0,0,0,0,0,15,0,2,2,4
Slovakia (SVK) [SVK],5,7,9,8,24,6,2,2,1,5,11,9,11,9,29
Slovenia (SLO),6,4,6,9,19,7,2,4,9,15,13,6,10,18,34
South Africa (RSA),18,23,26,27,76,6,0,0,0,0,24,23,26,27,76
Spain (ESP) [Z],22,37,59,35,131,19,1,0,1,2,41,38,59,36,133
Sri Lanka (SRI) [SRI],16,0,2,0,2,0,0,0,0,0,16,0,2,0,2
Sudan (SUD),11,0,1,0,1,0,0,0,0,0,11,0,1,0,1
Suriname (SUR) [E],11,1,0,1,2,0,0,0,0,0,11,1,0,1,2
Sweden (SWE) [Z],26,143,164,176,483,22,50,40,54,144,48,193,204,230,627
Switzerland (SUI),27,47,73,65,185,22,50,40,48,138,49,97,113,113,323
Syria (SYR),12,1,1,1,3,0,0,0,0,0,12,1,1,1,3
Chinese Taipei (TPE) [TPE] [TPE2],13,2,7,12,21,11,0,0,0,0,24,2,7,12,21
Tajikistan (TJK),5,0,1,2,3,4,0,0,0,0,9,0,1,2,3
Tanzania (TAN) [TAN],12,0,2,0,2,0,0,0,0,0,12,0,2,0,2
Thailand (THA),15,7,6,11,24,3,0,0,0,0,18,7,6,11,24
Togo (TOG),9,0,0,1,1,1,0,0,0,0,10,0,0,1,1
Tonga (TGA),8,0,1,0,1,1,0,0,0,0,9,0,1,0,1
Trinidad and Tobago (TRI) [TRI],16,2,5,11,18,3,0,0,0,0,19,2,5,11,18
Tunisia (TUN),13,3,3,4,10,0,0,0,0,0,13,3,3,4,10
Turkey (TUR),21,39,25,24,88,16,0,0,0,0,37,39,25,24,88
Uganda (UGA),14,2,3,2,7,0,0,0,0,0,14,2,3,2,7
Ukraine (UKR),5,33,27,55,115,6,2,1,4,7,11,35,28,59,122
United Arab Emirates (UAE),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1
United States (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
Uruguay (URU),20,2,2,6,10,1,0,0,0,0,21,2,2,6,10
Uzbekistan (UZB),5,5,5,10,20,6,1,0,0,1,11,6,5,10,21
Venezuela (VEN),17,2,2,8,12,4,0,0,0,0,21,2,2,8,12
Vietnam (VIE),14,0,2,0,2,0,0,0,0,0,14,0,2,0,2
Virgin Islands (ISV),11,0,1,0,1,7,0,0,0,0,18,0,1,0,1
Yugoslavia (YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29,87
Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [199]:
df = pd.read_csv('olympics.csv')
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !,02 !,03 !,Total,№ Games,01 !,02 !,03 !,Combined total
1,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12

In [200]:
df = pd.read_csv('olympics.csv', index_col = 0, skiprows=1)
df.head()

,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [201]:
df.columns

Index(['№ Summer', '01 !', '02 !', '03 !', 'Total', '№ Winter', '01 !.1',
       '02 !.1', '03 !.1', 'Total.1', '№ Games', '01 !.2', '02 !.2', '03 !.2',
       'Combined total'],
      dtype='object')

In [202]:
for col in df.columns:
    if col[:2] =='01':
        df.rename(columns={col:'Gold' + col[4:]}, inplace=True)
    if col[:2] =='02':
        df.rename(columns={col:'Silver' + col[4:]}, inplace=True)
    if col[:2] =='03':
        df.rename(columns={col:'Bronze' + col[4:]}, inplace=True)
    if col[:1] =='№':
        df.rename(columns={col:'#' + col[1:]}, inplace=True)
        
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

### Querying a Dataframe

In [203]:
df['Gold']>0

Afghanistan (AFG)                               False
Algeria (ALG)                                    True
Argentina (ARG)                                  True
Armenia (ARM)                                    True
Australasia (ANZ) [ANZ]                          True
Australia (AUS) [AUS] [Z]                        True
Austria (AUT)                                    True
Azerbaijan (AZE)                                 True
Bahamas (BAH)                                    True
Bahrain (BRN)                                   False
Barbados (BAR) [BAR]                            False
Belarus (BLR)                                    True
Belgium (BEL)                                    True
Bermuda (BER)                                   False
Bohemia (BOH) [BOH] [Z]                         False
Botswana (BOT)                                  False
Brazil (BRA)                                     True
British West Indies (BWI) [BWI]                 False
Bulgaria (BUL) [H]                               True
Burundi (BDI)                                    True
Cameroon (CMR)                                   True
Canada (CAN)                                     True
Chile (CHI) [I]                                  True
China (CHN) [CHN]                                True
Colombia (COL)                                   True
Costa Rica (CRC)                                 True
Ivory Coast (CIV) [CIV]                         False
Croatia (CRO)                                    True
Cuba (CUB) [Z]                                   True
Cyprus (CYP)                                    False
                                                ...
Sri Lanka (SRI) [SRI]                           False
Sudan (SUD)                                     False
Suriname (SUR) [E]                               True
Sweden (SWE) [Z]                                 True
Switzerland (SUI)                                True
Syria (SYR)                                      True
Chinese Taipei (TPE) [TPE] [TPE2]                True
Tajikistan (TJK)                                False
Tanzania (TAN) [TAN]                            False
Thailand (THA)                                   True
Togo (TOG)                                      False
Tonga (TGA)                                     False
Trinidad and Tobago (TRI) [TRI]                  True
Tunisia (TUN)                                    True
Turkey (TUR)                                     True
Uganda (UGA)                                     True
Ukraine (UKR)                                    True
United Arab Emirates (UAE)                       True
United States (USA) [P] [Q] [R] [Z]              True
Uruguay (URU)                                    True
Uzbekistan (UZB)                                 True
Venezuela (VEN)                                  True
Vietnam (VIE)                                   False
Virgin Islands (ISV)                            False
Yugoslavia (YUG) [YUG]                           True
Independent Olympic Participants (IOP) [IOP]    False
Zambia (ZAM) [ZAM]                              False
Zimbabwe (ZIM) [ZIM]                             True
Mixed team (ZZX) [ZZX]                           True
Totals                                           True
Name: Gold, dtype: bool

In [204]:
onlyGold = df.where(df['Gold']>0)
onlyGold.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan (AFG),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Algeria (ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0
Argentina (ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0
Armenia (ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0
Australasia (ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0

In [205]:
onlyGold['Gold'].count()

100

In [206]:
df['Gold'].count()

147

In [207]:
df.count()

# Summer          147
Gold              147
Silver            147
Bronze            147
Total             147
# Winter          147
Gold.1            147
Silver.1          147
Bronze.1          147
Total.1           147
# Games           147
Gold.2            147
Silver.2          147
Bronze.2          147
Combined total    147
dtype: int64

In [208]:
onlyGold = onlyGold.dropna() #dropping the NaN values
onlyGold.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Algeria (ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0
Argentina (ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0
Armenia (ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0
Australasia (ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0
Australia (AUS) [AUS] [Z],25.0,139.0,152.0,177.0,468.0,18.0,5.0,3.0,4.0,12.0,43.0,144.0,155.0,181.0,480.0

In [209]:
len(df[(df['Gold']>0)|(df['Gold.1']>0)])

101

In [210]:
df[(df['Gold.1']>0)&(df['Gold'] == 0)]

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Liechtenstein (LIE),16,0,0,0,0,18,2,2,5,9,34,2,2,5,9

#### Indexing Dataframes

In [214]:
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [219]:
df['Country'] = df.index
df

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,Country
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,Afghanistan (AFG)
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,Algeria (ALG)
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,Argentina (ARG)
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,Armenia (ARM)
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,Australasia (ANZ) [ANZ]
Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480,Australia (AUS) [AUS] [Z]
Austria (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304,Austria (AUT)
Azerbaijan (AZE),5,6,5,15,26,5,0,0,0,0,10,6,5,15,26,Azerbaijan (AZE)
Bahamas (BAH),15,5,2,5,12,0,0,0,0,0,15,5,2,5,12,Bahamas (BAH)
Bahrain (BRN),8,0,0,1,1,0,0,0,0,0,8,0,0,1,1,Bahrain (BRN)
Barbados (BAR) [BAR],11,0,0,1,1,0,0,0,0,0,11,0,0,1,1,Barbados (BAR) [BAR]
Belarus (BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90,Belarus (BLR)
Belgium (BEL),25,37,52,53,142,20,1,1,3,5,45,38,53,56,147,Belgium (BEL)
Bermuda (BER),17,0,0,1,1,7,0,0,0,0,24,0,0,1,1,Bermuda (BER)
Bohemia (BOH) [BOH] [Z],3,0,1,3,4,0,0,0,0,0,3,0,1,3,4,Bohemia (BOH) [BOH] [Z]
Botswana (BOT),9,0,1,0,1,0,0,0,0,0,9,0,1,0,1,Botswana (BOT)
Brazil (BRA),21,23,30,55,108,7,0,0,0,0,28,23,30,55,108,Brazil (BRA)
British West Indies (BWI) [BWI],1,0,0,2,2,0,0,0,0,0,1,0,0,2,2,British West Indies (BWI) [BWI]
Bulgaria (BUL) [H],19,51,85,78,214,19,1,2,3,6,38,52,87,81,220,Bulgaria (BUL) [H]
Burundi (BDI),5,1,0,0,1,0,0,0,0,0,5,1,0,0,1,Burundi (BDI)
Cameroon (CMR),13,3,1,1,5,1,0,0,0,0,14,3,1,1,5,Cameroon (CMR)
Canada (CAN),25,59,99,121,279,22,62,56,52,170,47,121,155,173,449,Canada (CAN)
Chile (CHI) [I],22,2,7,4,13,16,0,0,0,0,38,2,7,4,13,Chile (CHI) [I]
China (CHN) [CHN],9,201,146,126,473,10,12,22,19,53,19,213,168,145,526,China (CHN) [CHN]
Colombia (COL),18,2,6,11,19,1,0,0,0,0,19,2,6,11,19,Colombia (COL)
Costa Rica (CRC),14,1,1,2,4,6,0,0,0,0,20,1,1,2,4,Costa Rica (CRC)
Ivory Coast (CIV) [CIV],12,0,1,0,1,0,0,0,0,0,12,0,1,0,1,Ivory Coast (CIV) [CIV]
Croatia (CRO),6,6,7,10,23,7,4,6,1,11,13,10,13,11,34,Croatia (CRO)
Cuba (CUB) [Z],19,72,67,70,209,0,0,0,0,0,19,72,67,70,209,Cuba (CUB) [Z]
Cyprus (CYP),9,0,1,0,1,10,0,0,0,0,19,0,1,0,1,Cyprus (CYP)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sri Lanka (SRI) [SRI],16,0,2,0,2,0,0,0,0,0,16,0,2,0,2,Sri Lanka (SRI) [SRI]
Sudan (SUD),11,0,1,0,1,0,0,0,0,0,11,0,1,0,1,Sudan (SUD)
Suriname (SUR) [E],11,1,0,1,2,0,0,0,0,0,11,1,0,1,2,Suriname (SUR) [E]
Sweden (SWE) [Z],26,143,164,176,483,22,50,40,54,144,48,193,204,230,627,Sweden (SWE) [Z]
Switzerland (SUI),27,47,73,65,185,22,50,40,48,138,49,97,113,113,323,Switzerland (SUI)
Syria (SYR),12,1,1,1,3,0,0,0,0,0,12,1,1,1,3,Syria (SYR)
Chinese Taipei (TPE) [TPE] [TPE2],13,2,7,12,21,11,0,0,0,0,24,2,7,12,21,Chinese Taipei (TPE) [TPE] [TPE2]
Tajikistan (TJK),5,0,1,2,3,4,0,0,0,0,9,0,1,2,3,Tajikistan (TJK)
Tanzania (TAN) [TAN],12,0,2,0,2,0,0,0,0,0,12,0,2,0,2,Tanzania (TAN) [TAN]
Thailand (THA),15,7,6,11,24,3,0,0,0,0,18,7,6,11,24,Thailand (THA)
Togo (TOG),9,0,0,1,1,1,0,0,0,0,10,0,0,1,1,Togo (TOG)
Tonga (TGA),8,0,1,0,1,1,0,0,0,0,9,0,1,0,1,Tonga (TGA)
Trinidad and Tobago (TRI) [TRI],16,2,5,11,18,3,0,0,0,0,19,2,5,11,18,Trinidad and Tobago (TRI) [TRI]
Tunisia (TUN),13,3,3,4,10,0,0,0,0,0,13,3,3,4,10,Tunisia (TUN)
Turkey (TUR),21,39,25,24,88,16,0,0,0,0,37,39,25,24,88,Turkey (TUR)
Uganda (UGA),14,2,3,2,7,0,0,0,0,0,14,2,3,2,7,Uganda (UGA)
Ukraine (UKR),5,33,27,55,115,6,2,1,4,7,11,35,28,59,122,Ukraine (UKR)
United Arab Emirates (UAE),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1,United Arab Emirates (UAE)
United States (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681,United States (USA) [P] [Q] [R] [Z]
Uruguay (URU),20,2,2,6,10,1,0,0,0,0,21,2,2,6,10,Uruguay (URU)
Uzbekistan (UZB),5,5,5,10,20,6,1,0,0,1,11,6,5,10,21,Uzbekistan (UZB)
Venezuela (VEN),17,2,2,8,12,4,0,0,0,0,21,2,2,8,12,Venezuela (VEN)
Vietnam (VIE),14,0,2,0,2,0,0,0,0,0,14,0,2,0,2,Vietnam (VIE)
Virgin Islands (ISV),11,0,1,0,1,7,0,0,0,0,18,0,1,0,1,Virgin Islands (ISV)
Yugoslavia (YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29,87,Yugoslavia (YUG) [YUG]
Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3,Independent Olympic Participants (IOP) [IOP]
Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2,Zambia (ZAM) [ZAM]
Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8,Zimbabwe (ZIM) [ZIM]
Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17,Mixed team (ZZX) [ZZX]
Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579,Totals

In [224]:
df = df.set_index('Gold')

,# Summer,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,Country
Gold,,,,,,,,,,,,,,,
0,13,0,2,2,0,0,0,0,0,13,0,0,2,2,Afghanistan (AFG)
5,12,2,8,15,3,0,0,0,0,15,5,2,8,15,Algeria (ALG)
18,23,24,28,70,18,0,0,0,0,41,18,24,28,70,Argentina (ARG)
1,5,2,9,12,6,0,0,0,0,11,1,2,9,12,Armenia (ARM)
3,2,4,5,12,0,0,0,0,0,2,3,4,5,12,Australasia (ANZ) [ANZ]
139,25,152,177,468,18,5,3,4,12,43,144,155,181,480,Australia (AUS) [AUS] [Z]
18,26,33,35,86,22,59,78,81,218,48,77,111,116,304,Austria (AUT)
6,5,5,15,26,5,0,0,0,0,10,6,5,15,26,Azerbaijan (AZE)
5,15,2,5,12,0,0,0,0,0,15,5,2,5,12,Bahamas (BAH)
0,8,0,1,1,0,0,0,0,0,8,0,0,1,1,Bahrain (BRN)
0,11,0,1,1,0,0,0,0,0,11,0,0,1,1,Barbados (BAR) [BAR]
12,5,24,39,75,6,6,4,5,15,11,18,28,44,90,Belarus (BLR)
37,25,52,53,142,20,1,1,3,5,45,38,53,56,147,Belgium (BEL)
0,17,0,1,1,7,0,0,0,0,24,0,0,1,1,Bermuda (BER)
0,3,1,3,4,0,0,0,0,0,3,0,1,3,4,Bohemia (BOH) [BOH] [Z]
0,9,1,0,1,0,0,0,0,0,9,0,1,0,1,Botswana (BOT)
23,21,30,55,108,7,0,0,0,0,28,23,30,55,108,Brazil (BRA)
0,1,0,2,2,0,0,0,0,0,1,0,0,2,2,British West Indies (BWI) [BWI]
51,19,85,78,214,19,1,2,3,6,38,52,87,81,220,Bulgaria (BUL) [H]
1,5,0,0,1,0,0,0,0,0,5,1,0,0,1,Burundi (BDI)
3,13,1,1,5,1,0,0,0,0,14,3,1,1,5,Cameroon (CMR)
59,25,99,121,279,22,62,56,52,170,47,121,155,173,449,Canada (CAN)
2,22,7,4,13,16,0,0,0,0,38,2,7,4,13,Chile (CHI) [I]
201,9,146,126,473,10,12,22,19,53,19,213,168,145,526,China (CHN) [CHN]
2,18,6,11,19,1,0,0,0,0,19,2,6,11,19,Colombia (COL)
1,14,1,2,4,6,0,0,0,0,20,1,1,2,4,Costa Rica (CRC)
0,12,1,0,1,0,0,0,0,0,12,0,1,0,1,Ivory Coast (CIV) [CIV]
6,6,7,10,23,7,4,6,1,11,13,10,13,11,34,Croatia (CRO)
72,19,67,70,209,0,0,0,0,0,19,72,67,70,209,Cuba (CUB) [Z]
0,9,1,0,1,10,0,0,0,0,19,0,1,0,1,Cyprus (CYP)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,16,2,0,2,0,0,0,0,0,16,0,2,0,2,Sri Lanka (SRI) [SRI]
0,11,1,0,1,0,0,0,0,0,11,0,1,0,1,Sudan (SUD)
1,11,0,1,2,0,0,0,0,0,11,1,0,1,2,Suriname (SUR) [E]
143,26,164,176,483,22,50,40,54,144,48,193,204,230,627,Sweden (SWE) [Z]
47,27,73,65,185,22,50,40,48,138,49,97,113,113,323,Switzerland (SUI)
1,12,1,1,3,0,0,0,0,0,12,1,1,1,3,Syria (SYR)
2,13,7,12,21,11,0,0,0,0,24,2,7,12,21,Chinese Taipei (TPE) [TPE] [TPE2]
0,5,1,2,3,4,0,0,0,0,9,0,1,2,3,Tajikistan (TJK)
0,12,2,0,2,0,0,0,0,0,12,0,2,0,2,Tanzania (TAN) [TAN]
7,15,6,11,24,3,0,0,0,0,18,7,6,11,24,Thailand (THA)
0,9,0,1,1,1,0,0,0,0,10,0,0,1,1,Togo (TOG)
0,8,1,0,1,1,0,0,0,0,9,0,1,0,1,Tonga (TGA)
2,16,5,11,18,3,0,0,0,0,19,2,5,11,18,Trinidad and Tobago (TRI) [TRI]
3,13,3,4,10,0,0,0,0,0,13,3,3,4,10,Tunisia (TUN)
39,21,25,24,88,16,0,0,0,0,37,39,25,24,88,Turkey (TUR)
2,14,3,2,7,0,0,0,0,0,14,2,3,2,7,Uganda (UGA)
33,5,27,55,115,6,2,1,4,7,11,35,28,59,122,Ukraine (UKR)
1,8,0,0,1,0,0,0,0,0,8,1,0,0,1,United Arab Emirates (UAE)
976,26,757,666,2399,22,96,102,84,282,48,1072,859,750,2681,United States (USA) [P] [Q] [R] [Z]
2,20,2,6,10,1,0,0,0,0,21,2,2,6,10,Uruguay (URU)
5,5,5,10,20,6,1,0,0,1,11,6,5,10,21,Uzbekistan (UZB)
2,17,2,8,12,4,0,0,0,0,21,2,2,8,12,Venezuela (VEN)
0,14,2,0,2,0,0,0,0,0,14,0,2,0,2,Vietnam (VIE)
0,11,1,0,1,7,0,0,0,0,18,0,1,0,1,Virgin Islands (ISV)
26,16,29,28,83,14,0,3,1,4,30,26,32,29,87,Yugoslavia (YUG) [YUG]
0,1,1,2,3,0,0,0,0,0,1,0,1,2,3,Independent Olympic Participants (IOP) [IOP]
0,12,1,1,2,0,0,0,0,0,12,0,1,1,2,Zambia (ZAM) [ZAM]
3,12,4,1,8,1,0,0,0,0,13,3,4,1,8,Zimbabwe (ZIM) [ZIM]
8,3,5,4,17,0,0,0,0,0,3,8,5,4,17,Mixed team (ZZX) [ZZX]
4809,27,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579,Totals

In [225]:
df.head()

,# Summer,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,Country
Gold,,,,,,,,,,,,,,,
0,13,0,2,2,0,0,0,0,0,13,0,0,2,2,Afghanistan (AFG)
5,12,2,8,15,3,0,0,0,0,15,5,2,8,15,Algeria (ALG)
18,23,24,28,70,18,0,0,0,0,41,18,24,28,70,Argentina (ARG)
1,5,2,9,12,6,0,0,0,0,11,1,2,9,12,Armenia (ARM)
3,2,4,5,12,0,0,0,0,0,2,3,4,5,12,Australasia (ANZ) [ANZ]

In [226]:
df = df.reset_index()
df

,Gold,# Summer,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,Country
0,0,13,0,2,2,0,0,0,0,0,13,0,0,2,2,Afghanistan (AFG)
1,5,12,2,8,15,3,0,0,0,0,15,5,2,8,15,Algeria (ALG)
2,18,23,24,28,70,18,0,0,0,0,41,18,24,28,70,Argentina (ARG)
3,1,5,2,9,12,6,0,0,0,0,11,1,2,9,12,Armenia (ARM)
4,3,2,4,5,12,0,0,0,0,0,2,3,4,5,12,Australasia (ANZ) [ANZ]
5,139,25,152,177,468,18,5,3,4,12,43,144,155,181,480,Australia (AUS) [AUS] [Z]
6,18,26,33,35,86,22,59,78,81,218,48,77,111,116,304,Austria (AUT)
7,6,5,5,15,26,5,0,0,0,0,10,6,5,15,26,Azerbaijan (AZE)
8,5,15,2,5,12,0,0,0,0,0,15,5,2,5,12,Bahamas (BAH)
9,0,8,0,1,1,0,0,0,0,0,8,0,0,1,1,Bahrain (BRN)
10,0,11,0,1,1,0,0,0,0,0,11,0,0,1,1,Barbados (BAR) [BAR]
11,12,5,24,39,75,6,6,4,5,15,11,18,28,44,90,Belarus (BLR)
12,37,25,52,53,142,20,1,1,3,5,45,38,53,56,147,Belgium (BEL)
13,0,17,0,1,1,7,0,0,0,0,24,0,0,1,1,Bermuda (BER)
14,0,3,1,3,4,0,0,0,0,0,3,0,1,3,4,Bohemia (BOH) [BOH] [Z]
15,0,9,1,0,1,0,0,0,0,0,9,0,1,0,1,Botswana (BOT)
16,23,21,30,55,108,7,0,0,0,0,28,23,30,55,108,Brazil (BRA)
17,0,1,0,2,2,0,0,0,0,0,1,0,0,2,2,British West Indies (BWI) [BWI]
18,51,19,85,78,214,19,1,2,3,6,38,52,87,81,220,Bulgaria (BUL) [H]
19,1,5,0,0,1,0,0,0,0,0,5,1,0,0,1,Burundi (BDI)
20,3,13,1,1,5,1,0,0,0,0,14,3,1,1,5,Cameroon (CMR)
21,59,25,99,121,279,22,62,56,52,170,47,121,155,173,449,Canada (CAN)
22,2,22,7,4,13,16,0,0,0,0,38,2,7,4,13,Chile (CHI) [I]
23,201,9,146,126,473,10,12,22,19,53,19,213,168,145,526,China (CHN) [CHN]
24,2,18,6,11,19,1,0,0,0,0,19,2,6,11,19,Colombia (COL)
25,1,14,1,2,4,6,0,0,0,0,20,1,1,2,4,Costa Rica (CRC)
26,0,12,1,0,1,0,0,0,0,0,12,0,1,0,1,Ivory Coast (CIV) [CIV]
27,6,6,7,10,23,7,4,6,1,11,13,10,13,11,34,Croatia (CRO)
28,72,19,67,70,209,0,0,0,0,0,19,72,67,70,209,Cuba (CUB) [Z]
29,0,9,1,0,1,10,0,0,0,0,19,0,1,0,1,Cyprus (CYP)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,0,16,2,0,2,0,0,0,0,0,16,0,2,0,2,Sri Lanka (SRI) [SRI]
118,0,11,1,0,1,0,0,0,0,0,11,0,1,0,1,Sudan (SUD)
119,1,11,0,1,2,0,0,0,0,0,11,1,0,1,2,Suriname (SUR) [E]
120,143,26,164,176,483,22,50,40,54,144,48,193,204,230,627,Sweden (SWE) [Z]
121,47,27,73,65,185,22,50,40,48,138,49,97,113,113,323,Switzerland (SUI)
122,1,12,1,1,3,0,0,0,0,0,12,1,1,1,3,Syria (SYR)
123,2,13,7,12,21,11,0,0,0,0,24,2,7,12,21,Chinese Taipei (TPE) [TPE] [TPE2]
124,0,5,1,2,3,4,0,0,0,0,9,0,1,2,3,Tajikistan (TJK)
125,0,12,2,0,2,0,0,0,0,0,12,0,2,0,2,Tanzania (TAN) [TAN]
126,7,15,6,11,24,3,0,0,0,0,18,7,6,11,24,Thailand (THA)
127,0,9,0,1,1,1,0,0,0,0,10,0,0,1,1,Togo (TOG)
128,0,8,1,0,1,1,0,0,0,0,9,0,1,0,1,Tonga (TGA)
129,2,16,5,11,18,3,0,0,0,0,19,2,5,11,18,Trinidad and Tobago (TRI) [TRI]
130,3,13,3,4,10,0,0,0,0,0,13,3,3,4,10,Tunisia (TUN)
131,39,21,25,24,88,16,0,0,0,0,37,39,25,24,88,Turkey (TUR)
132,2,14,3,2,7,0,0,0,0,0,14,2,3,2,7,Uganda (UGA)
133,33,5,27,55,115,6,2,1,4,7,11,35,28,59,122,Ukraine (UKR)
134,1,8,0,0,1,0,0,0,0,0,8,1,0,0,1,United Arab Emirates (UAE)
135,976,26,757,666,2399,22,96,102,84,282,48,1072,859,750,2681,United States (USA) [P] [Q] [R] [Z]
136,2,20,2,6,10,1,0,0,0,0,21,2,2,6,10,Uruguay (URU)
137,5,5,5,10,20,6,1,0,0,1,11,6,5,10,21,Uzbekistan (UZB)
138,2,17,2,8,12,4,0,0,0,0,21,2,2,8,12,Venezuela (VEN)
139,0,14,2,0,2,0,0,0,0,0,14,0,2,0,2,Vietnam (VIE)
140,0,11,1,0,1,7,0,0,0,0,18,0,1,0,1,Virgin Islands (ISV)
141,26,16,29,28,83,14,0,3,1,4,30,26,32,29,87,Yugoslavia (YUG) [YUG]
142,0,1,1,2,3,0,0,0,0,0,1,0,1,2,3,Independent Olympic Participants (IOP) [IOP]
143,0,12,1,1,2,0,0,0,0,0,12,0,1,1,2,Zambia (ZAM) [ZAM]
144,3,12,4,1,8,1,0,0,0,0,13,3,4,1,8,Zimbabwe (ZIM) [ZIM]
145,8,3,5,4,17,0,0,0,0,0,3,8,5,4,17,Mixed team (ZZX) [ZZX]
146,4809,27,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579,Totals

In [227]:
df = pd.read_csv('census.csv')
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [230]:
df['SUMLEV'].unique()

array([40, 50])

In [231]:
df = df[df['SUMLEV'] == 50]
df

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411
6,50,3,6,1,11,Alabama,Bullock County,10914,10915,10887,...,-30.953709,-5.180127,-1.130263,14.354290,-16.167247,-29.001673,-2.825524,1.507017,17.243790,-13.193961
7,50,3,6,1,13,Alabama,Butler County,20947,20946,20944,...,-14.032727,-11.684234,-5.655413,1.085428,-6.529805,-13.936612,-11.586865,-5.557058,1.184103,-6.430868
8,50,3,6,1,15,Alabama,Calhoun County,118572,118586,118437,...,-6.155670,-4.611706,-5.524649,-4.463211,-3.376322,-5.791579,-4.092677,-5.062836,-3.912834,-2.806406
9,50,3,6,1,17,Alabama,Chambers County,34215,34170,34098,...,-2.731639,3.849092,2.872721,-2.287222,1.349468,-1.821092,4.701181,3.781439,-1.290228,2.346901
10,50,3,6,1,19,Alabama,Cherokee County,25989,25986,25976,...,6.339327,1.113180,5.488706,-0.076806,-3.239866,6.416167,1.420264,5.757384,0.230419,-2.931307
11,50,3,6,1,21,Alabama,Chilton County,43643,43631,43665,...,-1.372935,-2.653369,0.480044,0.456017,-2.253483,-0.823761,-2.447504,0.868651,0.957636,-1.752709
12,50,3,6,1,23,Alabama,Choctaw County,13859,13858,13841,...,-15.455274,-0.737028,-8.766391,-1.274984,-5.291205,-15.528177,-0.737028,-8.766391,-1.274984,-5.291205
13,50,3,6,1,25,Alabama,Clarke County,25833,25840,25767,...,-6.194363,-17.667705,-0.318345,-8.686428,-5.613667,-6.077488,-17.509958,-0.159172,-8.486280,-5.411736
14,50,3,6,1,27,Alabama,Clay County,13932,13932,13880,...,-10.744102,-13.345130,4.902871,5.702648,3.912450,-10.816697,-13.345130,4.977157,5.776708,3.986270
15,50,3,6,1,29,Alabama,Cleburne County,14972,14972,14973,...,-3.673524,-5.151880,7.345821,3.654485,-3.123961,-3.673524,-5.151880,7.345821,3.654485,-3.123961
16,50,3,6,1,31,Alabama,Coffee County,49948,49948,50177,...,0.377640,7.675579,-13.146535,-3.602859,2.214774,2.166460,11.513368,-10.438741,-0.767822,5.350738
17,50,3,6,1,33,Alabama,Colbert County,54428,54428,54514,...,-0.073423,1.065051,1.762390,1.835688,-0.110260,0.513964,1.469035,2.276420,2.533249,0.588052
18,50,3,6,1,35,Alabama,Conecuh County,13228,13228,13208,...,-4.861559,-7.504690,-6.107224,-14.645416,2.684140,-4.861559,-7.504690,-6.107224,-14.645416,2.684140
19,50,3,6,1,37,Alabama,Coosa County,11539,11758,11758,...,-33.930581,-10.291443,-4.313831,-22.958017,-5.387581,-34.017138,-10.380162,-4.403703,-23.049483,-5.387581
20,50,3,6,1,39,Alabama,Covington County,37765,37765,37796,...,6.696899,-4.612668,0.740271,3.697932,-0.316945,6.881460,-4.559952,0.793147,3.750759,-0.264121
21,50,3,6,1,41,Alabama,Crenshaw County,13906,13906,13853,...,1.729792,3.950156,-1.864936,3.084648,3.439504,2.666763,5.099293,-0.502098,4.734577,5.087600
22,50,3,6,1,43,Alabama,Cullman County,80406,80410,80473,...,-1.404233,-1.019628,4.071247,5.087142,7.915406,-1.031427,-0.634159,4.542916,5.593387,8.417777
23,50,3,6,1,45,Alabama,Dale County,50251,50251,50358,...,-10.749798,-5.277150,-15.236079,-11.979785,-5.107706,-9.575283,-0.776637,-12.640155,-9.503292,-1.998668
24,50,3,6,1,47,Alabama,Dallas County,43820,43820,43803,...,-15.635599,-11.308243,-16.745678,-9.344789,-14.687232,-15.727573,-11.378047,-16.792849,-9.368689,-14.711389
25,50,3,6,1,49,Alabama,DeKalb County,71109,71115,71142,...,0.294677,-9.302391,-1.748807,0.267830,0.028141,1.375159,-8.656001,-1.029539,1.198187,0.956790
26,50,3,6,1,51,Alabama,Elmore County,79303,79296,79465,...,3.235576,0.822717,1.760531,-1.507057,2.067820,3.674511,1.558176,2.306047,-0.951175,2.757093
27,50,3,6,1,53,Alabama,Escambia County,38319,38319,38309,...,-3.449988,-3.855889,-4.822706,-1.189831,1.190902,-3.397716,-3.803428,-4.769999,-1.136950,1.243830
28,50,3,6,1,55,Alabama,Etowah County,104430,104427,104442,...,-1.015919,2.062637,-1.931884,-1.726932,-2.082234,-0.632554,2.446383,-1.518596,-1.234901,-1.588308
29,50,3,6,1,57,Alabama,Fayette County,17241,17241,17231,...,-5.015601,-0.646640,-3.725937,0.296745,-2.797536,-5.132243,-0.705426,-3.785079,0.237396,-2.857058
30,50,3,6,1,59,Alabama,Franklin County,31704,31709,31734,...,-1.638750,-5.459394,-8.043702,-1.267849,-2.401719,0.063029,-3.471291,-5.700261,1.553115,0.442422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3162,50,2,3,55,129,Wisconsin,Washburn County,15911,15911,15930,...,-6.873936,7.338289,-6.732724,3.510452,-5.123279,-6.747809,7.464811,-6.605691,3.638104,-4.995197
3163,50,2,3,55,131,Wisconsin,Washington County,131887,131885,131967,...,-0.794876,0.785279,-2.215465,1.601149,-0.434498,-0.431504,1.162817,-1.763330,2.104796,0.059931
3164,50,2,3,55,133,Wisconsin,Waukesha County,389891,389938,390076,...,-0.765799,2.128860,0.038132,0.760109,-0.719858,0.102448,3.180527,1.189727,2.077633,0.593567
3165,50,2,3,55,135,Wisconsin,Waupaca County,52410,52410,52422,...,3.111756,-2.241873,6.292687,-0.441031,-0.480617,3.359933,-2.011937,6.561277,-0.134227,-0.173022
3166,50,2,3,55,137,Wisconsin,Waushara County,24496,24496,24506,...,4.930022,-2.404973,-4.097017,-4.906711,-4.397793,5.174486,-2.160399,-3.810226,-4.535615,-4.024395
3167,50,2,3,55,139,Wisconsin,Winnebago County,166994,166994,167059,...,0.316712,2.889873,0.833819,-2.406192,-4.557985,0.842573,3.502335,1.531624,-1.545153,-3.685304
3168,50,2,3,55,141,Wisconsin,Wood County,74749,74749,74807,...,-4.081523,-5.019090,-6.901200,-5.596471,-3.958322,-3.733590,-4.562809,-6.442917,-5.040889,-3.414223
3170,50,4,8,56,1,Wyoming,Albany County,36299,36299,36428,...,3.708956,2.637812,-3.544634,-3.334877,-9.911169,6.736119,6.433032,0.719587,1.429233,-5.166460
3171,50,4,8,56,3,Wyoming,Big Horn County,11668,11668,11672,...,4.868258,2.804930,16.815908,-8.026420,5.095861,4.868258,3.144921,17.236306,-7.608378,5.513554
3172,50,4,8,56,5,Wyoming,Campbell County,46133,46133,46244,...,-2.843479,15.601020,-5.895711,-8.550911,10.916963,-2.649606,15.558684,-5.916543,-8.509402,10.978525
3173,50,4,8,56,7,Wyoming,Carbon County,15885,15885,15837,...,-7.581980,-13.081441,3.178134,-2.970641,-23.300971,-7.392431,-12.636926,3.623073,-2.338590,-22.600668
3174,50,4,8,56,9,Wyoming,Converse County,13833,13833,13826,...,-12.847499,15.493820,19.035533,-20.550587,-0.070403,-12.774915,16.502720,20.093063,-19.358233,1.126443
3175,50,4,8,56,11,Wyoming,Crook County,7083,7083,7114,...,-1.544618,-4.202564,1.397819,6.378258,18.629317,-0.982939,-3.642222,2.096729,7.071547,19.309219
3176,50,4,8,56,13,Wyoming,Fremont County,40123,40123,40222,...,2.747083,7.782673,-4.990688,-12.331633,-13.673610,3.093562,8.027411,-4.747240,-12.013555,-13.352750
3177,50,4,8,56,15,Wyoming,Goshen County,13249,13247,13408,...,14.293649,3.961413,-8.079028,-7.017803,-11.899450,14.886132,4.841727,-6.903896,-5.761986,-10.635133
3178,50,4,8,56,17,Wyoming,Hot Springs County,4812,4812,4813,...,3.322604,6.208609,3.095336,-6.017222,-5.454164,5.191569,6.001656,2.888981,-6.224712,-5.663940
3179,50,4,8,56,19,Wyoming,Johnson County,8569,8569,8581,...,4.995063,-4.058912,-0.812583,-10.715742,0.933652,5.227392,-4.058912,-0.812583,-10.715742,0.933652
3180,50,4,8,56,21,Wyoming,Laramie County,91738,91881,92271,...,-1.200428,15.547274,4.787847,-1.226133,0.278940,-0.973320,17.914554,6.003143,-0.207819,1.673640
3181,50,4,8,56,23,Wyoming,Lincoln County,18106,18106,18091,...,-9.802564,-11.566801,13.564556,6.125989,1.555544,-9.691801,-11.566801,13.619696,6.234414,1.662823
3182,50,4,8,56,25,Wyoming,Natrona County,75450,75450,75472,...,7.189319,23.066162,24.322042,-0.958472,-0.061057,7.689674,23.749508,25.085233,-0.110593,0.793743
3183,50,4,8,56,27,Wyoming,Niobrara County,2484,2484,2492,...,-0.401849,0.806452,29.066295,-12.603387,7.492114,-0.401849,0.806452,29.066295,-12.603387,7.492114
3184,50,4,8,56,29,Wyoming,Park County,28205,28205,28259,...,4.582951,8.057765,7.641997,-9.252437,-2.878980,6.486639,11.127389,10.877797,-5.585731,0.856839
3185,50,4,8,56,31,Wyoming,Platte County,8667,8667,8678,...,4.373094,5.392073,2.634593,6.055759,4.662270,4.373094,4.933173,2.176403,5.598720,4.207414
3186,50,4,8,56,33,Wyoming,Sheridan County,29116,29116,29146,...,0.958559,8.425487,4.546373,3.678069,-3.298406,2.122524,9.342778,5.523001,4.781489,-2.198937
3187,50,4,8,56,35,Wyoming,Sublette County,10247,10247,10244,...,-23.741784,15.272374,-40.870074,-16.596273,-22.870900,-21.092907,16.828794,-39.211861,-14.409938,-20.664059
3188,50,4,8,56,37,Wyoming,Sweetwater County,43806,43806,43593,...,1.072643,16.243199,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195
3189,50,4,8,56,39,Wyoming,Teton County,21294,21294,21297,...,-1.589565,0.972695,19.525929,14.143021,-0.564849,0.654527,2.408578,21.160658,16.308671,1.520747
3190,50,4,8,56,41,Wyoming,Uinta County,21118,21118,21102,...,-17.755986,-4.916350,-6.902954,-14.215862,-12.127022,-18.136812,-5.536861,-7.521840,-14.740608,-12.606351
3191,50,4,8,56,43,Wyoming,Washakie County,8533,8533,8545,...,-11.637475,-0.827815,-2.013502,-17.781491,1.682288,-11.990126,-1.182592,-2.250385,-18.020168,1.441961
3192,50,4,8,56,45,Wyoming,Weston County,7208,7208,7181,...,-11.752361,-8.040059,12.372583,1.533635,6.935294,-12.032179,-8.040059,12.372583,1.533635,6.935294

In [235]:
df.columns

Index(['STNAME', 'CTYNAME', 'BIRTHS2010', 'BIRTHS2011', 'BIRTHS2012',
       'BIRTHS2013', 'BIRTHS2014', 'BIRTHS2015', 'POPESTIMATE2010',
       'POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2013',
       'POPESTIMATE2014', 'POPESTIMATE2015'],
      dtype='object')

In [236]:
columns_to_keep = ['STNAME',
                   'CTYNAME',
                   'BIRTHS2010',
                   'BIRTHS2011',
                   'BIRTHS2012',
                   'BIRTHS2013',
                   'BIRTHS2014',
                   'BIRTHS2015',
                   'POPESTIMATE2010',
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015']
df = df[columns_to_keep]
df.head()

,STNAME,CTYNAME,BIRTHS2010,BIRTHS2011,BIRTHS2012,BIRTHS2013,BIRTHS2014,BIRTHS2015,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
1,Alabama,Autauga County,151,636,615,574,623,600,54660,55253,55175,55038,55290,55347
2,Alabama,Baldwin County,517,2187,2092,2160,2186,2240,183193,186659,190396,195126,199713,203709
3,Alabama,Barbour County,70,335,300,283,260,269,27341,27226,27159,26973,26815,26489
4,Alabama,Bibb County,44,266,245,259,247,253,22861,22733,22642,22512,22549,22583
5,Alabama,Blount County,183,744,710,646,618,603,57373,57711,57776,57734,57658,57673

In [237]:
df = df.set_index(['STNAME', 'CTYNAME'])
df.head()

                        BIRTHS2010  BIRTHS2011  BIRTHS2012  BIRTHS2013  \
STNAME  CTYNAME
Alabama Autauga County         151         636         615         574
        Baldwin County         517        2187        2092        2160
        Barbour County          70         335         300         283
        Bibb County             44         266         245         259
        Blount County          183         744         710         646

                        BIRTHS2014  BIRTHS2015  POPESTIMATE2010  \
STNAME  CTYNAME
Alabama Autauga County         623         600            54660
        Baldwin County        2186        2240           183193
        Barbour County         260         269            27341
        Bibb County            247         253            22861
        Blount County          618         603            57373

                        POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  \
STNAME  CTYNAME
Alabama Autauga County            55253            55175            55038
        Baldwin County           186659           190396           195126
        Barbour County            27226            27159            26973
        Bibb County               22733            22642            22512
        Blount County             57711            57776            57734

                        POPESTIMATE2014  POPESTIMATE2015
STNAME  CTYNAME
Alabama Autauga County            55290            55347
        Baldwin County           199713           203709
        Barbour County            26815            26489
        Bibb County               22549            22583
        Blount County             57658            57673

In [244]:
df.loc['Illinois', 'Clark County']

BIRTHS2010            53
BIRTHS2011           199
BIRTHS2012           202
BIRTHS2013           182
BIRTHS2014           211
BIRTHS2015           201
POPESTIMATE2010    16300
POPESTIMATE2011    16224
POPESTIMATE2012    16300
POPESTIMATE2013    16154
POPESTIMATE2014    16138
POPESTIMATE2015    15979
Name: (Illinois, Clark County), dtype: int64

In [246]:
df.loc[[('Illinois', 'Clark County'), ('Illinois', 'Clinton County')]]

                         BIRTHS2010  BIRTHS2011  BIRTHS2012  BIRTHS2013  \
STNAME   CTYNAME
Illinois Clark County            53         199         202         182
         Clinton County         101         400         433         415

                         BIRTHS2014  BIRTHS2015  POPESTIMATE2010  \
STNAME   CTYNAME
Illinois Clark County           211         201            16300
         Clinton County         402         400            37826

                         POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  \
STNAME   CTYNAME
Illinois Clark County              16224            16300            16154
         Clinton County            38132            38056            37871

                         POPESTIMATE2014  POPESTIMATE2015
STNAME   CTYNAME
Illinois Clark County              16138            15979
         Clinton County            37802            37786

#### Missing Values

In [251]:
df = pd.read_csv('log.csv')
df

          time    user          video  playback position paused  volume
0   1469974424  cheryl     intro.html                  5  False    10.0
1   1469974454  cheryl     intro.html                  6    NaN     NaN
2   1469974544  cheryl     intro.html                  9    NaN     NaN
3   1469974574  cheryl     intro.html                 10    NaN     NaN
4   1469977514     bob     intro.html                  1    NaN     NaN
5   1469977544     bob     intro.html                  1    NaN     NaN
6   1469977574     bob     intro.html                  1    NaN     NaN
7   1469977604     bob     intro.html                  1    NaN     NaN
8   1469974604  cheryl     intro.html                 11    NaN     NaN
9   1469974694  cheryl     intro.html                 14    NaN     NaN
10  1469974724  cheryl     intro.html                 15    NaN     NaN
11  1469974454     sue  advanced.html                 24    NaN     NaN
12  1469974524     sue  advanced.html                 25    NaN     NaN
13  1469974424     sue  advanced.html                 23  False    10.0
14  1469974554     sue  advanced.html                 26    NaN     NaN
15  1469974624     sue  advanced.html                 27    NaN     NaN
16  1469974654     sue  advanced.html                 28    NaN     5.0
17  1469974724     sue  advanced.html                 29    NaN     NaN
18  1469974484  cheryl     intro.html                  7    NaN     NaN
19  1469974514  cheryl     intro.html                  8    NaN     NaN
20  1469974754     sue  advanced.html                 30    NaN     NaN
21  1469974824     sue  advanced.html                 31    NaN     NaN
22  1469974854     sue  advanced.html                 32    NaN     NaN
23  1469974924     sue  advanced.html                 33    NaN     NaN
24  1469977424     bob     intro.html                  1   True    10.0
25  1469977454     bob     intro.html                  1    NaN     NaN
26  1469977484     bob     intro.html                  1    NaN     NaN
27  1469977634     bob     intro.html                  1    NaN     NaN
28  1469977664     bob     intro.html                  1    NaN     NaN
29  1469974634  cheryl     intro.html                 12    NaN     NaN
30  1469974664  cheryl     intro.html                 13    NaN     NaN
31  1469977694     bob     intro.html                  1    NaN     NaN
32  1469977724     bob     intro.html                  1    NaN     NaN

In [247]:
df.fillna?

In [252]:
df = df.set_index('time')
df

              user          video  playback position paused  volume
time
1469974424  cheryl     intro.html                  5  False    10.0
1469974454  cheryl     intro.html                  6    NaN     NaN
1469974544  cheryl     intro.html                  9    NaN     NaN
1469974574  cheryl     intro.html                 10    NaN     NaN
1469977514     bob     intro.html                  1    NaN     NaN
1469977544     bob     intro.html                  1    NaN     NaN
1469977574     bob     intro.html                  1    NaN     NaN
1469977604     bob     intro.html                  1    NaN     NaN
1469974604  cheryl     intro.html                 11    NaN     NaN
1469974694  cheryl     intro.html                 14    NaN     NaN
1469974724  cheryl     intro.html                 15    NaN     NaN
1469974454     sue  advanced.html                 24    NaN     NaN
1469974524     sue  advanced.html                 25    NaN     NaN
1469974424     sue  advanced.html                 23  False    10.0
1469974554     sue  advanced.html                 26    NaN     NaN
1469974624     sue  advanced.html                 27    NaN     NaN
1469974654     sue  advanced.html                 28    NaN     5.0
1469974724     sue  advanced.html                 29    NaN     NaN
1469974484  cheryl     intro.html                  7    NaN     NaN
1469974514  cheryl     intro.html                  8    NaN     NaN
1469974754     sue  advanced.html                 30    NaN     NaN
1469974824     sue  advanced.html                 31    NaN     NaN
1469974854     sue  advanced.html                 32    NaN     NaN
1469974924     sue  advanced.html                 33    NaN     NaN
1469977424     bob     intro.html                  1   True    10.0
1469977454     bob     intro.html                  1    NaN     NaN
1469977484     bob     intro.html                  1    NaN     NaN
1469977634     bob     intro.html                  1    NaN     NaN
1469977664     bob     intro.html                  1    NaN     NaN
1469974634  cheryl     intro.html                 12    NaN     NaN
1469974664  cheryl     intro.html                 13    NaN     NaN
1469977694     bob     intro.html                  1    NaN     NaN
1469977724     bob     intro.html                  1    NaN     NaN

In [253]:
df = df.sort_index()

In [255]:
df.head()

              user          video  playback position paused  volume
time
1469974424  cheryl     intro.html                  5  False    10.0
1469974424     sue  advanced.html                 23  False    10.0
1469974454  cheryl     intro.html                  6    NaN     NaN
1469974454     sue  advanced.html                 24    NaN     NaN
1469974484  cheryl     intro.html                  7    NaN     NaN

In [256]:
df = df.reset_index()

In [258]:
df.head()

         time    user          video  playback position paused  volume
0  1469974424  cheryl     intro.html                  5  False    10.0
1  1469974424     sue  advanced.html                 23  False    10.0
2  1469974454  cheryl     intro.html                  6    NaN     NaN
3  1469974454     sue  advanced.html                 24    NaN     NaN
4  1469974484  cheryl     intro.html                  7    NaN     NaN

In [260]:
df = df.set_index(['time', 'user'])

In [263]:
df.head()

                           video  playback position paused  volume
time       user
1469974424 cheryl     intro.html                  5  False    10.0
           sue     advanced.html                 23  False    10.0
1469974454 cheryl     intro.html                  6    NaN     NaN
           sue     advanced.html                 24    NaN     NaN
1469974484 cheryl     intro.html                  7    NaN     NaN

In [264]:
df = df.fillna(method='ffill')

In [267]:
df.head()

                           video  playback position paused  volume
time       user
1469974424 cheryl     intro.html                  5  False    10.0
           sue     advanced.html                 23  False    10.0
1469974454 cheryl     intro.html                  6  False    10.0
           sue     advanced.html                 24  False    10.0
1469974484 cheryl     intro.html                  7  False    10.0